html
  head
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap")
    link(rel="stylesheet", href="/css/style.css")
  body
    div(id="calendar")
      h1 Thing a day.
      p(id="date") #{readableDate}

      div(id="box")
        p(id="medium") #{medium}
        p(id="plus") +
        p(id="thing") #{thing}
